body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(46, 50, 53);
}


nav {
    width: 100%;
    height: 50px;
    background: rgba(5, 16, 163, 0.8);
    border-top: 1px solid rgb(5, 0, 0);
    border-bottom: 2px solid rgba(5, 0, 0);
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    margin: 0;
    float: left;
}

nav ul li {
    list-style: none;

}

nav ul li a{
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}


nav ul li a:hover{
    color: black;
    transition: all 2s ease;
}

img {
    width: 100%;
    max-width: 700px;
    min-width: 700px;
    height: 700px;

}

.stark {
    display: flex;
    justify-content: left;
    align-items: stretch;
}

.stark h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
}
.stark p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border-bottom: 3px white solid;
    border-top: 3px white solid;
}

.tekst {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}