body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(61, 70, 97);
}



nav {
    width: 100%;
    height: 50px;
    background: rgba(7, 14, 110, 0.8);
    border-top: 1px solid rgb(5, 0, 0);
    border-bottom: 2px solid rgba(5, 0, 0);
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    margin: 0;
    float: left;
}

nav ul li {
    list-style: none;

}

nav ul li a{
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}


nav ul li a:hover{
    color: black;
    transition: all 2s ease;
}

.sec2 {
    display: flex;
}
.sec2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
}
.sec2 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
   
}

img {
    width: 100%;
    height: 550px;
}

.login-box {
    width: 280px;
    
    color: white;

    
}


.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border: 1px blue solid;
}

.textbox input {
    align-content: center;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px blue solid;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.textbox select {
    padding: 0;
    color: white;
    padding: 0;
    margin-left: 30px;
    overflow: hidden;
    font-size: 25px;
    background: black;
    border: 1px blue solid;
}

.login-box h1 {
    align-content: center;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 13px 0;
}